cmake_install.cmake
CMakeCache.txt
CMakeFiles
*.pb.*
build
app
*.o
*.a
*~
*.obj
*.ncb
*.pdb
*.db
*.exe
*.lib
*.dll
*.log
*.tlog
*.ilk
*.idb
*.opendb
*.cd
Debug
Release
.vs
build
lib
*.bat
*.filters
*.user